@page "/403"
@inject NavigationManager NavigationManager

<PageTitle>403</PageTitle>

@* Todo: adicionar alerta aqui com o template da lar *@
<div class="alert alert-warning" role="alert">
    Você não tem autorização para ver esta página. Se você acredita que isso é um erro, por favor, entre em contato com o suporte.
</div>

<br />

@* Todo: adicionar button template lar *@
<button class="btn btn-primary" @onclick=BackToHome>Ir para Home</button>

@code {
    private void BackToHome()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
