@page "/403/{Message?}"
@inject NavigationManager NavigationManager

<PageTitle>403</PageTitle>

<div class="alert alert-warning" role="alert">
    @Message
</div>

<br />

<button class="btn btn-primary" @onclick=BackToHome>Ir para Home</button>

@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (string.IsNullOrWhiteSpace(Message))
            Message = "Você não tem autorização para ver esta página. Se você acredita que isso é um erro, por favor, entre em contato com o suporte.";
    }

    private void BackToHome()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
