@page "/404"
@inject NavigationManager NavigationManager

<PageTitle>404</PageTitle>

<div class="alert alert-warning" role="alert">
    Página não encontrada
</div>

<br />

<button class="btn btn-primary" @onclick=BackToHome>Ir para Home</button>

@code {
    private void BackToHome()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri);
    }
}
